<section class="get">
  <h3>User-Details</h3>
  <a href="/users/get-data">Load Data</a>
  <div>
    {{# each items}}
  <article class="item">
    <div>Email:{{this.email}}</div>
    <div>Username:{{this.username}}</div>

  </article>
  {{/each}}
</div>
</section>
